@import "../../../Style/Storage";

.card {
  border: 1px solid black;
  display: inline-block;
  @include flex;
  flex-direction: column;
  width: 17%;
  overflow: auto;
  // border-radius: 1rem;
  margin: 1rem;
  box-shadow: 10px 10px 10px black;
  background-color: $white;
  .image {
    height: 50%;
    @include flex;
    overflow: auto;
    > img {
      // height: 10rem;
      // width: 6rem;
      height: 100%;
      width: 100%;
    }
  }

  .content {
    padding: 0.5rem;
    margin: 0.5rem;
    border-top: 1px solid black;

    .category {
      margin: 2px 0;
    }

    .contentheading {
      font-weight: bold;
      margin: 2px 0;
      text-transform: capitalize;
    }

    .contenttext {
      font-size: 0.8rem;
    }
  }

  transition: all 1s ease-in-out;

  &:hover {
    transform: rotate(20deg);
  }

  //    @keyframes boxvovel{
  //     transform: rotate(20deg);
  //    }
}
